@import "./styles/main.scss";

body {
  background-color: $bg-color;
  color: $font-color;
}

@media screen and (max-width: 484px) and (orientation: landscape) {
  body,
  input,
  button,
  h1 {
    font-size: 0.75rem !important;
  }
  input,
  button,
  .alert {
    padding: 0.5rem !important;
  }
  .btn-more-info {
    font-size: 0.5rem !important;
    padding: 0.375rem 0.75rem !important;
  }
  .logo {
    font-size: 1.5rem !important;
  }
  .close {
    position: relative;
    top: 0.2rem !important;
  }
}

@media screen and (min-width: 485px) and (orientation: landscape) {
  body {
    font-size: 1rem !important;
  }
}
