@import "./styles/main.scss";

body {
  background-color: $bg-color;
  color: $font-color;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 426px) {
  body {
    font-size: 1rem;
  }
}
