.cont-reset {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .form-reset {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    .alert {
      margin: 10px 0;
    }
  }
}
