@import "../../styles/settings/variables";

.cont-login {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .form-login {
    width: 100%;
    max-width: 330px;
    padding: 0 15px;
    margin: auto;
    a {
      b {
        color: $font-color !important;
      }
    }
    .btn {
      background-color: $netflix-red !important;
      color: $font-color !important;
    }
    .alert {
      margin-bottom: 10px;
    }
  }
}
