// General fonts and colors
$font-color: #e5e5e5;
$font-color-disabled: rgba(229, 229, 229, 0.5);
$bg-color: #141414;
$netflix-red-light: #e50914;
$netflix-red-dark: #db0510;

// Inputs for access forms
$input-focus-border: rgb(167, 173, 186);
$input-focus-shadow: rgba(0.2, 167, 173, 186);
$input-bg-color: #eeeeee;
