// General fonts and colors
$font-color: #e5e5e5; // equivalent rgb(229, 229, 229)
$font-color-disabled: rgba(229, 229, 229, 0.5);
$bg-color: #141414; // equivalent rgb(20, 20, 20)
$netflix-red-light: #e50914; // equivalent rgb(229, 9, 20)
$netflix-red-dark: #db0510;

// Inputs for access forms
$input-focus-border: rgb(167, 173, 186);
$input-focus-shadow: rgba(0.2, 167, 173, 186);
$input-bg-color: #eeeeee;
