@import "../../styles/settings/variables";
@import "../../styles/tools/mixins";

.Search {
  .input-search {
    background-color: $bg-color;
    color: $font-color;
    border: 1px solid $font-color;
    border: 1px solid $netflix-red-dark;
    &:focus {
      background-color: $bg-color;
      border: 1px solid $netflix-red-light !important;
      box-shadow: none !important;
    }
    &:active {
      border: 1px solid $netflix-red-light !important;
      box-shadow: none !important;
    }
  }

  @include placeholder {
    color: $font-color;
  }

  .btn-search {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: $font-color;
    background-color: $netflix-red-dark;
    border: 1px solid $netflix-red-dark;
    &:hover {
      background-color: $netflix-red-light;
      border: 1px solid $netflix-red-light;
    }
  }
}

@media screen and (max-width: 767px) {
  .Search {
    input,
    button {
      font-size: 0.75rem;
    }
  }
}

@media (min-width: 768px) {
  .Search {
    input,
    button {
      font-size: 1rem;
    }
  }
}
