@import "../../styles/settings/variables";

.details-cont {
  .error-cont,
  .loading-cont {
    width: 95% !important;
  }
}

@media screen and (max-width: 484px) {
  .details-cont {
    font-size: 0.5rem;
    .cover,
    .error-cont,
    .loading-cont {
      height: 50vh;
    }
  }
}

@media (max-width: 484px) and (orientation: landscape) {
  .details-cont {
    .cover,
    .error-cont,
    .loading-cont {
      height: 60vh;
    }
  }
}

@media screen and (min-width: 485px) {
  .details-cont {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .details-cont {
    .cover,
    .error-cont,
    .loading-cont {
      height: 70vh;
    }
  }
}
